:root {
  --page-color: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
  --branding-app-color: #6c63ff;
  --paragraph-color: rgba(39, 33, 66, 0.7);
}
@media (max-width: 900px) {
  .hero h1 {
    font-size: 40px !important;
  }
  .about-content {
    padding-bottom: 60px !important;
  }

  .nav-about,
  .nav-work {
    margin-bottom: 20px !important;
  }
  .dictionary-button,
  .patricia-image {
    margin-bottom: 60px !important;
  }
  .hero h2 {
    font-size: 16px !important;
  }
  p {
    font-size: 8px;
  }
  .hero p {
    font-size: 20px !important;
  }
  .description {
    padding: 0;
    text-align: center;
  }
  .description h2 {
    font-size: 30px !important;
  }
}
.hero h1 {
  font-size: 96px;
}
h1 {
  font-family: var(--heading-font-family);
  font-style: normal;
  color: #000;
  font-weight: 700;
}
.hero h2 {
  color: #272142;
  font-family: var(--default-font-family);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
}

p {
  font-family: var(--default-font-family);
  color: var(--paragraph-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  margin: 48px;
}
.about-section p {
  margin: 0;
}

.hero {
  text-align: center;
  background-color: var(--page-color);
  padding: 80px 20px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  color: #272142;
  font-style: normal;
  margin-bottom: 0px;
}
.btn-branding {
  padding: 18px 30px;
  background-color: #6c63ff;
  color: #ffffff;
  border-radius: 4px;
}
.btn-branding-apps {
  color: var(--branding-app-color);
  border: 1px solid var(--branding-app-color);
  padding: 15px 30px;
}
.info p {
  text-align: center;
  font-weight: 400;
  color: #272142;
}
.description h2 {
  font-size: 64px;
  font-family: var(--heading-font-family);
}
.mb-5 h2 {
  text-align: center;
}
.description h3 {
  font-size: 18px;
  line-height: 27px;
  font-family: var(--default-font-family);
  color: #272142;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}

.about-section {
  margin: 30px;
}
.content-container {
  padding: 160px 20px;
  margin: 21px;
}
.portfolio-container {
  padding: 0;
  margin: 0;
}
h4 {
  text-align: center;
  font-size: 24px;
  font-family: var(--default-font-family);
  line-height: 36px;
  margin-bottom: 0;
}
.col-md-6 p {
  margin: 0;
  text-align: center;
  font-size: 14px;
}
.more-info {
  font-size: 48px !important;
}
.contact {
  margin-top: 160px;
}
.contact .row {
  margin-top: 30px;
}
.contact p {
  margin: 0;
}
.details {
  text-align: center;
}

.email {
  text-align: center;
  margin-bottom: 50px;
  font-family: var(--default-font-family);
}
.socials {
  text-align: center;
}

li {
  display: inline;
  margin-left: 50px;
}
a {
  text-decoration: none;
  color: #272142;
}
a:hover {
  color: #6c63ff;
}
.nav-item {
  padding: 0 2px;
}

.active {
  color: #6c63ff !important;
}
.about-content {
  margin-top: 0;
  padding-top: 0px;
}
.nav-about {
  margin-bottom: 100px;
}
.nav-index {
  background-color: var(--page-color);
}
.nav-work {
  margin-bottom: 100px;
}
footer .contact-box {
  background-color: var(--page-color);
  padding: 15px;
  margin-top: 100px;
  border-radius: 10px;
}
h5 {
  font-size: 24px;
  font-family: var(--default-font-family);
}
.github {
  text-align: center;
  color: blue;
}
