:root {
  --page-color: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
  --branding-app-color: #6c63ff;
  --paragraph-color: rgba(39, 33, 66, 0.7);
}
@media (max-width: 900px) {
  .hero h1 {
    font-size: 40px;
  }
  .hero h2 {
    font-size: 16px;
  }
  p {
    font-size: 8px;
  }
  .hero p {
    font-size: 20px;
  }
  .description {
    padding: 0;
    text-align: center;
  }
}
h1 {
  font-size: 96px;
  color: #000;
  font-weight: 700;
}
.hero h2 {
  color: #272142;
  font-family: var(--default-font-family);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
}
h1 {
  font-family: var(--heading-font-family);
  font-style: normal;
}
p {
  font-family: var(--default-font-family);
  color: var(--paragraph-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  margin: 48px;
}

.hero {
  text-align: center;
  background-color: var(--page-color);
  padding: 160px 20px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  color: #272142;
  font-style: normal;
  margin-bottom: 0px;
}
.btn-branding {
  padding: 18px 30px;
  background-color: #6c63ff;
  color: #ffffff;
  border-radius: 4px;
}
.btn-branding-apps {
  color: var(--branding-app-color);
  border: 1px solid var(--branding-app-color);
  padding: 15px 30px;
}
.info p {
  text-align: center;
  font-weight: 400;
  color: #272142;
}
